*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      font-family: "Inter", sans-serif;

}
.btn{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    color: #FFFFFF;
}


/* header style */



/* nav style */
nav{
    background-color: #1A0B2E;
    padding: 50px 0;
}
.nav_item{
    color: #FFFFFF;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ul{
    display: flex;
    gap: 30px;
    /* background-color: #ce3e3e; */
}
li{
    list-style: none;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
.nav_item>h2{
    font-size: 2rem;
}

.Wave{
  background: linear-gradient(90deg, #ff2fcf, #8a2bff);
  
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
