*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      font-family: "Inter", sans-serif;


}
.btn{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    color: #FFFFFF;
    border: none;
    display: flex;
    gap: 5px;
    align-items: center;
    
}


/* header style */



/* nav style */
nav{
    background-color: #1A0B2E;
    padding: 50px 0;
}
.nav_item{
    color: #FFFFFF;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: none;         
    height: 1px;          
    background: rgba(255, 255, 255, 0); 
    opacity: 0.05;
}
ul{
    display: flex;
    gap: 30px;
    /* background-color: #ce3e3e; */
}
li{
    list-style: none;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
}
.nav_item>h2{
    font-size: clamp(30px, 4vw, 60px);
}

.Wave{
  background: linear-gradient(90deg, #ff2fcf, #8a2bff);
  
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
#menu{
    display: none;
    font-size: 1.5rem;
}
/* header containt */

.header_containt{
    padding: 0;
    /* border: 1px solid #FFFFFF; */
    max-width: 600px;
    /* margin: 0 auto; */
    text-align: center;
    color: #FFFFFF;
    margin-top: -150px;
    
}
.container{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    /* background-position: center;  */
    /* background-size: 100% auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 100px; */
    padding: 100px 0;
    max-width: 2000px;
    margin: 0 auto;
}
.mCl{
    width: 400px;
}
.circle{
    position: relative;
    /* border: 1px solid #ff2fcf; */
    margin-top: 100px
}
#new{
    position: absolute;
    top: 30px;
    right: 80px;
    background-color: #00FF88;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    border-radius: 1000px;
}
.mic{
    position: absolute;
    right: 39%;
    top: 25%;
    /* width:50px ; */
}
.header_containt h2{
    margin-top: 20px;
    font-size: clamp(40px, 4vw, 50px);
}
.header_containt p{
    font-weight: 200;
    margin: 20px 0;
}
.btns{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#sec_btn{
    background: transparent;
    border: 2px solid green;
    color: green;
    gap: 10px;
    font-weight: bolder;
}

/* main style */

/* about section */
.about{
    background-color: #1A0B2E;
    color: white;
    margin-top: 0;

}
.about_text{
    max-width: 1200px;
    margin: 0 auto;
    text-align:  center;
    padding-bottom:50px;
    padding-top: 20px;
}
.about_text h2{
    font-size: 3.25rem;
    margin-bottom: 20px;
    /* padding-top: 10px; */
}
.about_text p{
    margin-bottom: 20px;
    font-weight: 200;

}
.div_p{
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
}

.about_num{
    max-width: 1200px;
    margin: 0 auto;
    text-align:  center;
    padding-bottom:50px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.about_num h4{
    color: #00FF88;
    font-size: 2.75rem;
    font-weight: bolder;
    margin-bottom: 10px;
}
.about_num p{
    font-weight: 200;
    font-size: 1.25rem;
}

/* Why Choose TechWave */

.why{
    background-color: #230E3D;
    color: white;
    padding: 100px 10px ;
}
.why_h2{
    font-size: 3.25rem;
    text-align: center;
    padding:50px 0;
}
.why_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2 , 240px) 290px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
   radius: 100px;
}
.why_container>div{
    background-color: #351165;
    border-radius:40px;
}
.why_container h4{
    font-size: 1.65rem;
    margin: 20px 0;
    font-weight: 500;
}
.why_container p{
    font-weight: 100;
    line-height: 1.8;
}
.why_1{
     grid-row: span 2;
     padding: 105px 40px;
   
}
.why_1 img{
    /* width: 100%; */
}
.why_2{
     grid-column: span 2;
     padding: 40px;
}
.why_3{
     grid-column: span 2;
      padding: 40px;
}
.why_4{
     grid-column: span 2;
     padding: 40px;
}
.why_5{
     padding: 40px;
}






/* responsive Design */


/* mobile */
@media screen and (max-width:576px) {
    
ul{
    display: none;
}
.nav_btn{
    display: none;
}
#menu{
    display: inline-flex;
    
}
.nav_item{
    justify-content: space-between;
    margin: 0 auto;
}
.mCl{
    width: 70%;
}

.mic{
    width: 20%;
}
.mic{
    position: absolute;
    right: 41%;
    top: 25%;
}
.container{
  background-size: cover; 
  background-position: center;
    background-position: center ;
   

}
.container{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    max-width: 580px;
    margin: 0 auto;
}
.header_containt{
    margin-top: -100px;
    width: 400px;
}
#new{
    right: 45px;
    font-size: 1.25rem;
}
.header_containt p{
    margin: 20px;
    line-height: 1.5;
}

/* about style */
.about_text h2{
    font-size: 2.25rem;
}
.br_p{
    display: none;
}
.div_p{
    padding: 0 30px;
}
.about_num{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.about_num h4{
    font-size: 2rem;
}
.about_num p{
    font-size: 1rem;
}

/* Why Choose TechWave */

.why_container{
    grid-template-columns: 1fr;
    max-width: 450px;
}

.why{
    padding: 20px;
}
.why_h2{
    font-size: 2rem;
    text-align: center;
    padding:50px 0;
    /* display: inline-block; */
}



}

/* tab device*/
@media screen and (min-width:577px) and (max-width:922px) {
    
.nav_item{
    margin: 0 10%;
   
}
#menu{
    display: inline-flex;
}
ul{
    display: none;
}
.nav_btn{
    display: none;
}
.mCl{
    width: 300px;
}
.mic{
    width: 15%;
}
.mic{
    position: absolute;
    right: 43%;
    top: 25%;}
#new{
    right: 100px;
    font-size: 1.25rem;
}
/* about style */

.about_text h2{
    font-size: 3rem;
}
.br_p{
    display: none;
}


.div_p{
    padding: 0 30px;
}

.about_num{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
/* Why Choose TechWave */


.why_container{
    grid-template-columns: 1fr;
    max-width: 500px;
}







}